body {
    font-family: 'Bebas Neue', cursive;
    margin: 0;
}

h1 {
    font-size: 75px;
}

.colorx {
    color: orange;
}

h3 {
    font-size: 25px;
}

p {
    font-family: 'Poppins', sans-serif;
}

.intro {
    width: 70%;
    padding-left: 5%;
    margin: 20px;
}

.intro img {
    width: 90%;
}

section {
    display: flex;
    margin-bottom: 50px;
}

.link_button {
    background-image: linear-gradient(orange, tomato);
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
    font-family: 'Splash', cursive;
    color: white;
    font-weight: 700;
}

.topmost {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.middle {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}